@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Asap, sans-serif;
  background-color: rgb(248, 248, 248);
	position: relative;
}

.contentContainer {
  padding: 0 2em;
  margin: 0 auto;
  max-width: 1150px;
  /* border: solid green; */
}


/* ############################################### */

/* First Header */

.headerOne {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(15, 57, 87, 1.2);
  color: #f1f1f1;
  padding: 8px;
  /* border: solid red; */
  position: sticky;
  top: 0;
  /* z-index keep the header in front of allthe content (positive in front and negative behind) */
  z-index: 5;
}

.logo-box {
  display: flex;
  align-items: center;
  margin-left: 12em;
  gap: 8px;
  /* border: solid white; */
}

.logo {
  /* background-color: rgba(15, 57, 87, 1.2); */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  padding: 15px;
  /* border: solid red; */
}

.cutlery-logo {
  /* border: solid red; */
  display: flex;
  align-items: center;
  padding: 2px;
  background-color: #f1f1f1;
  border-radius: 50%;
}

/* .Logo:hover, .cutlery-logo:hover {
  cursor: pointer;
} */

.headerOne ul {
  display: flex;
  align-items: center;
  font-size: 25px;
  margin-right: 10em;
  list-style-type: none;
  gap: 50px;
  /* border: solid red; */
}

#home, #about-us, #contact-us, #recipes, #stores{
  color: #f1f1f1;
  text-decoration: none;
  padding: 10px;
  transition: background-color 250ms linear;
}

#home:hover, #about-us:hover, #contact-us:hover, #recipes:hover, #stores:hover {
  cursor: pointer;
  background-color: rgba(22, 78, 117, 1.2);
}

/* ############################################### */

/* Second Header */

.headerTwo {
  display: flex;
  justify-content: space-around;
  background-color: rgba(22, 78, 117, 1.2);
  /* border: solid blue; */
  padding: 10px;
}

.headerTwoA {
  margin-right: 140px;
  /* border: solid green; */
}

.headerTwoB {
  margin-right: 60px;
  /* border: solid red; */
}

.headerText {
  color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.2em;
  font-weight: bold;
}

/* clickable dropdown */
/* WDS video - https://www.youtube.com/watch?v=S-VeYcOCFZw&t=251s */
/* https://stackoverflow.com/questions/44832572/pure-css-clickable-dropdown */

/* Meals */
/* This allows the dropdown to fall under the button */
.dropdownMeals {
  position: relative;
  display: inline-block;
}

.dropbtnMeals {
  max-width: 100px;
  margin-right: 90px;
  background-color: #4CAF50;
  color: white;
  padding: 13px;
  font-size: 16px;
  border-radius: 5%;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.mealContent {
  /* makes the dropdown push right as it appears */
  left: 0;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 2%;
}

.mealContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.mealContent a:hover {
  background-color: #3e8e41;
  color: white;
}

.dropdownMeals:hover .mealContent {
  display: block;
}
.dropdownMeals:hover .dropbtnMeals {
  background-color: #3e8e41;
}

/* Treats */
/* This allows the dropdown to fall under the button */
.dropdownTreats {
  position: relative;
  display: inline-block;
}

.dropbtnTreats {
  max-width: 100px;
  background-color: #4CAF50;
  color: white;
  border-radius: 5%;
  padding: 13px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.treatContent {
  /* makes the dropdown push right as it appears */
  left: 0;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 2%;
}

.treatContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.treatContent a:hover {
  background-color: #3e8e41;
  color: white;
}

.dropdownTreats:hover .treatContent {
  display: block;
}

.dropdownTreats:hover .dropbtnTreats {
  background-color: #3e8e41;
}

/* ############################################### */

/* Writing under header */

.themeContent h2 {
  font-weight: 300;
  font-size: 1.9em;
  /* font-style: italic; */
  padding: 20px;
}

#firstP {
  font-weight: 200;
  font-size: 1.2em;
  padding: 20px;
}

#secondP {
  font-weight: 200;
  font-size: 1.2em;
  padding: 20px;
}

/* ############################################### */

/* Picture Gallery */

.squares {
  margin-top: 50px;
  max-width: 1150px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  /* border: solid green; */
}

.info {
  margin-top: 20px;
  width: min-content;
  background-color: white;
  transition: transform 250ms;
  /* border: solid red; */
}

.info:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.1);
}

.text {
  padding: 20px;
  font-size: 1.6em;
  font-weight: 500;
  /* border: solid green; */
}

/* ############################################### */

/* https://freefrontend.com/css-social-media-icons/ */

 /* Style all font social media icons */

 .social {
  margin-top: 50px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  background-color: rgba(22, 78, 117, 0.8);
 }

 .circle {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(137, 235, 235);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  /* this is to transition the colours */
  transition: .4s;
 }

 .circle:hover {
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  transform: scale(0.95);
 }

 .circle a {
  color: rgb(65, 62, 62);
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  display:block;
  text-align:center;
  border-radius: 50%;
  padding-top: 12px;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.2);
  background-image: linear-gradient(rgb(185, 179, 179), #fff);
  /* border: solid red; */
}

#linkedin:hover{
  color: #007CBD;
  transition: .4s;
}

#facebook:hover {
  color: #255C9D;
  transition: .4s;
}

#instagram:hover {
  color: #953FCE;
  transition: .4s;
}

#twitter:hover {
  color: #01ACe3;
  transition: .4s;
}


/* ############################################### */

/* footer */

.infoFooter {
  display: flex;
  justify-content: center;
  background-color: rgba(15, 57, 87, 1.2);
  color: #f1f1f1;
  /* border: solid red; */
}

/* Customer Care */

.contact-section{
  /* border: solid greenyellow; */
}

.customer-care {
  list-style-type: none;
  border: 2px solid #f1f1f1;
  /* Top Right Bottom Left */
  margin: 65px 40px 200px 300px;
  width: 250px;
}

.CC-text {
  max-width: 13.3em;
  font-weight: 900;
  font-size: 20px;
  padding: 10px;
  background-color: #f1f1f1;
  color: rgba(22, 78, 117, 0.9);
}

.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

#contact-numbers {
  font-size: 18px;
  padding: 5px;
  margin: 5px;
}

.box a {
  text-decoration: none;
  color: rgba(22, 78, 117, 0.9);
  background-color: #f1f1f1;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  padding: 8px;
  margin-top: 10px;
}

.box a:hover {
  color: white;
  background-color: rgba(22, 78, 117, 1.2);
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  transition: .4s;
}

/* More Info */

.info-section {
  /* border: solid white; */
  padding: 20px;
}

.more-info {
  /* Top Right Bottom Left */
  margin: 80px 100px 200px 100px;
}

#GM-text {
  font-size: 18px;
  font-weight: 600;
}

#GM-info {
  margin: 20px 0px 20px 0px;
  list-style-type: none;
  /* border: solid red; */
}

#GM-info a {
  text-decoration: none;
  color: white;
}

#GM-info a:hover {
  color: rgb(137, 235, 235);
  text-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

/* Register Section */

.register-section {
  /* border: solid red; */
}

.register {
  width: 400px;
  border: 2px solid white;
  padding: 15px;
  /* Top Right Bottom Left */
  margin: 60px 50px 10px 200px;
}

#register-text {
  font-size: 30px;
  font-weight: 800;
}

.register p {
  font-size: 18px;
   margin: 20px 0px 10px 0px;
}

#register-btn  {
  border: none;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 24em;
  color: rgba(22, 78, 117, 0.9);
  background-color: #f1f1f1;
  font-size: 15px;
  font-weight: 700;
  padding: 10px;
  text-align: center;
  list-style-type: none;
}

#register-btn:hover {
  color: white;
  background-color: rgba(22, 78, 117, 1.2);
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  transition: .4s;
}

.footer-logo-box {
  display: flex;
  align-items: center;
  margin-left: 12em;
  margin-top: 1.5em;
  gap: 8px;
}

.logo2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.2em;
  font-weight: bold;
  padding: 20px;
}

#cutlery-logo-footer {
  display: flex;
  align-items: center;
  padding: 2px;
  background-color: #f1f1f1;
  border-radius: 50%;
}

/* ############################################################################## */
/* Home Page */
/* ############################################################################## */
/* CSS Grid Images */
/* https://www.google.com/search?channel=fs&client=ubuntu&q=using+grid+for+images+css#kpvalbx=_CocGY7CwG-DBxc8P4Oy2wAM23 */



/* Grid pics */

section {
  /* border: solid red; */
  margin: 0 auto;
  max-width: 1400px;
}

.home-page-image {
  margin: 0 auto;
  width: 100%;
  height: auto;
  background-size: cover;
  /* height: 700px; */
  padding: 16px;
}

.image-grid-primary {
  --gap: 16px;
  --num-cols: 2;
  --row-height: 400px;

  padding: var(--gap);
  display: grid;
  /* for the columns on the grid, we want 4 equal width columns */
  grid-template-columns: repeat(var(--num-cols), 1fr);
  /* we want unlimited rows at the height of 300px */
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.image-grid-primary a {
  font-size: 3.8em;
  font-weight: 500;
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* The images will maintain their aspect ratio */
  background-size: cover;
  transition: opacity 250ms linear;
  /* border: solid green; */
}

.stores-image {
  border-radius: 1%;
  background-image: url("images/homePageImage1.jpg");
}

.news-image {
  border-radius: 1%;
  background-image: url("images/vision.jpg");
}


.stores-image:hover, .news-image:hover {
  cursor: pointer;
  transition: .4s;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.3);
  opacity: 0.8;
}

/* Anything under 1024px */
@media screen and (max-width: 1024px) {
  .image-grid-primary {
    --num-cols: 1;
    --row-height: 200px;
  }
}


.image-grid-secondary {
  --gap: 16px;
  --num-cols: 3;
  --row-height: 600px;


  padding: var(--gap);
  display: grid;
  /* for the columns on the grid, we want 4 equal width columns */
  grid-template-columns: repeat(var(--num-cols), 1fr);
  /* we want unlimited rows at the height of 300px */
  grid-auto-rows: var(--row-height);
  gap: var(--gap);

}

.image-grid-secondary a {
  font-size: 3.8em;
  font-weight: 500;
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* The images will maintain their aspect ratio */
  background-size: cover;
  transition: opacity 250ms linear;
  /* border: solid green; */
}

.recipes-image {
  border-radius: 1%;
  background-image: url("images/vision.jpg");
}

.our-story-image {
  border-radius: 1%;
  background-image: url("images/vision.jpg");
}

.specials-image {
  border-radius: 1%;
  background-image: url("images/vision.jpg");
}

/* .image-grid-secondary a, .image-grid-primary a {
  font-size: 3.8em;
  font-weight: 500;
  color: white;
  text-decoration: none;
} */

.recipes-image:hover, .specials-image:hover, .our-story-image:hover {
  cursor: pointer;
  transition: .4s;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.3);
  opacity: 0.8;
}

/* Anything under 950px */
@media screen and (max-width: 950px) {
  .image-grid-secondary {
    --num-cols: 1;
    --row-height: 200px;
  }
}


/* ############################################################################## */
/* About Us */
/* ############################################################################## */


.aboutUs-galleryContainer {
  margin: 20px auto;
  max-width: 1400px;
  /* border: solid red; */
}

/* @media (max-width: 700px) {
  .aboutUs-galleryContainer {
    display: flex;
    flex-wrap: wrap;
  }
} */


.aboutUs-squares {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* border: solid red; */
}


.aboutUs-pics {
  max-width: 600px; 
  min-height: 450px;
  text-align: center;
  /* border: solid green; */
}

#text-heading {
  font-size: 36px;
  font-weight: 450;
  align-content: center;
  max-width: 800px;
  min-height: 450px;
  padding: 20px;
  /* border: solid blue; */
}

#text-heading p {
  /* border: solid yellow; */
  margin-top: 20px;
  font-size: 22px;
}

/* Image styling */
/* https://www.w3schools.com/css/css3_images.asp */

#our-story-pic {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 550px;
  min-height: 350px;
}

#our-story-pic:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  transition: .4s;
}


#history-pic {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 550px;
  min-height: 350px;
}

#history-pic:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  transition: .4s;
}

#valuesCulture-pic {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 550px;
  min-height: 350px;
}

#valuesCulture-pic:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  transition: .4s;
}

#vision-pic {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 550px;
  min-height: 350px;
}

#vision-pic:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  transition: .4s;
}

/* ############################################################################## */
/* Contact Us */
/* https://www.w3schools.com/howto/howto_css_contact_form.asp */
/* https://css-tricks.com/a-complete-guide-to-links-and-buttons/ */
/* ############################################################################## */

 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
  /* Full width */
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* Make sure that padding and width stays in place */
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  /* Allow the user to vertically resize the textarea (not horizontally) */
  resize: vertical;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.inner-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 50px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
} 

.form-container {
  display: flex;
  justify-content: center;
  /* border: solid blue; */
  padding: 50px;
}

/* ############################################################################## */
/* Stores */
/* ############################################################################## */

.map-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.map-container h1 {
  margin-top: 50px;
  padding: 30px;
}

iframe {
  width: 70%;
  height: 60vh;
  border: 2px solid black;
  padding: 30px;
}


.copyright-footer {
  /* text-align: center;   */
  background-color: rgba(2, 20, 46, 0.95);
  min-height: 50px;
  color: rgb(228, 228, 228);
}

.copyright-footer p {
  padding: 15px;
  font-size: 15px;
  margin-left: 50px;
}